 body {
    font-family: sans-serif;
    margin: 0;
    background-color: #04030F;
    color: white;
 }

 #titel {
    text-align: center;
    margin-top: auto;
    margin-top: 5%;
 }

 h1 {
    font-size: 2.5em;
    text-align: center;
 }

 p {
    margin: 0;
    text-align: center;
 }