body {
   font-family: sans-serif;
   margin: 0;
   background-color: #04030F;
   color: white;
}

#raster {
   grid-template-columns: auto auto auto;
   grid-template-rows: 10em auto;
   display: grid;
   text-align: center;
}

h1 {
   grid-column: 2;
   grid-row: 1;
}

#tabelle {
   grid-column: 2;
   grid-row: 2;
   text-align: center;
   margin: 0;
}

table,
th,
td {
   width: auto;
   margin: auto;
   height: 100%;
}

table {
   border: 1px solid rgb(255, 255, 255);
}

td {
   width: 15em;
}

table tr:nth-child(even) {
   background-color: rgba(0, 0, 0, 0.556);
}

table tr:nth-child(odd) {
   background-color: rgba(127, 213, 151, 0.556);
}