body {
    font-family: sans-serif;
    margin: 0;
    background: #04030F;
    color: white;
    text-align: center;
}

.background {
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: bg-animation 50s infinite;
}

.coLor {
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    animation: bg-animation2 10s infinite;
}

.coLorLl {
    font-size: 1.5em;
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    animation: bg-animation2 10s infinite;
}

@-webkit-keyframes bg-animation2 {
    0% {
        color: red;
    }

    10% {
        color: orange;
    }

    20% {
        color: yellow;
    }

    30% {
        color: lightgreen;
    }

    40% {
        color: green;
    }

    50% {
        color: turquoise;
    }

    60% {
        color: lightblue;
    }

    70% {
        color: blue;
    }

    80% {
        color: violet;
    }

    90% {
        color: pink;
    }

    100% {
        color: red;
    }
}

@keyframes bg-animation2 {
    0% {
        color: red;
    }

    10% {
        color: orange;
    }

    20% {
        color: yellow;
    }

    30% {
        color: lightgreen;
    }

    40% {
        color: green;
    }

    50% {
        color: turquoise;
    }

    60% {
        color: lightblue;
    }

    70% {
        color: blue;
    }

    80% {
        color: violet;
    }

    90% {
        color: pink;
    }

    100% {
        color: red;
    }
}
@-webkit-keyframes bg-animation {
    0% {
        border-color: red;
    }

    10% {
        border-color: orange;
    }

    20% {
        border-color: yellow;
    }

    30% {
        border-color: lightgreen;
    }

    40% {
        border-color: green;
    }

    50% {
        border-color: turquoise;
    }

    60% {
        border-color: lightblue;
    }

    70% {
        border-color: blue;
    }

    80% {
        border-color: violet;
    }

    90% {
        border-color: pink;
    }

    100% {
        border-color: red;
    }
}

@keyframes bg-animation {
    0% {
        border-color: red;
    }

    10% {
        border-color: orange;
    }

    20% {
        border-color: yellow;
    }

    30% {
        border-color: lightgreen;
    }

    40% {
        border-color: green;
    }

    50% {
        border-color: turquoise;
    }

    60% {
        border-color: lightblue;
    }

    70% {
        border-color: blue;
    }

    80% {
        border-color: violet;
    }

    90% {
        border-color: pink;
    }

    100% {
        border-color: red;
    }
}

h1 {
    color: white;
}

#navbar {
    text-align: left;

    div {
        border-color: black;
        border: 1px solid red;
    }

    div a {
        text-decoration: none;
        color: red;
        font-size: 20px;
        padding: 15px;
        display: inline-block;
    }

    ul {
        display: inline;
        margin: 0;
        padding: 0;
    }

    ul li {
        display: inline-block;
    }

    ul li:hover {
        background: black;
    }

    ul li:hover ul {
        display: block;
    }

    ul li ul {
        position: absolute;
        width: 200px;
        display: none;
    }

    ul li ul li {
        background: black;
        display: block;
        border: 1px solid red;
    }

    ul li ul li a {
        display: block !important;
    }

    ul li ul li:hover {
        background: dimgrey;
    }
}