body {
   font-family: sans-serif;
   margin: 0;
   background-color: #04030F;
   color: white;
}

div a {
   text-decoration: none;
   color: rgb(255, 0, 0);
   font-size: 20px;
   padding: 15px;
   display: inline-block;
}

ul {
   display: inline;
   margin: 0;
   padding: 0;
}

ul li {
   display: inline-block;
}

ul li:hover {
   background: black;
}

ul li:hover ul {
   display: block;
}

ul li ul {
   position: absolute;
   width: 200px;
   display: none;
}

ul li ul li {
   background: black;
   display: block;
   border: 1px solid red;
}

ul li ul li a {
   display: block !important;
}

ul li ul li:hover {
   background: dimgrey;
}

#raster {
   grid-template-columns: auto auto auto;
   grid-template-rows: auto fit-content auto;
   display: grid;
   text-align: center;
}

h1 {
   grid-column: 2;
   grid-row: 1;
}

#Citrix {
   grid-column: 1;
   grid-row: 2;
   text-align: center;
}

#Monkeytype {
   grid-column: 3;
   grid-row: 2;
   text-align: center;
}

#COLOR {
   grid-column: 2;
   grid-row: 2;
   text-align: center;
}

img {
   max-height: 10em;
   max-width: auto;
}