#raster {
   grid-template-columns: auto auto auto;
   grid-template-rows: auto fit-content auto;
   display: grid;
   text-align: center;
}

h1 {
   grid-column: 2;
   grid-row: 1;
}

#Citrix {
   grid-column: 1;
   grid-row: 2;
   text-align: center;
}

#Monkeytype {
   grid-column: 3;
   grid-row: 2;
   text-align: center;
}

#COLOR {
   grid-column: 2;
   grid-row: 2;
   text-align: center;
}

img {
   max-height: 10em;
   max-width: auto;
}